<!--<table>-->
<!--  <tr *ngFor="let key of arrayOfKeys">-->
<!--    <th>{{key}}</th>-->
<!--    <td *ngFor="let data of datas">-->
<!--      {{data[key]}}-->
<!--    </td>-->
<!--  </tr>-->
<!--</table>-->



<table class="table table-striped">
  <tr>
    <th>id</th>
    <th>naziv</th>
    <th>vlasnik</th>
    <th>drzava</th>
  </tr>
  <tr *ngFor="let data of plovila">
    <td>{{data.id}}</td>
    <td>{{data.naziv}}</td>
    <td>{{data.vlasnik}}</td>
    <td>{{data.drzava}}</td>
  </tr>
</table>
