<div class="row">
    <div class="col-md-4 offset-md-2">
        <h2 *ngIf="!_editing">Dodaj adresu</h2>
        <h2 *ngIf="_editing">Uredi adresu</h2>
    </div>
</div>


<div>
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <select [(ngModel)]="editDrzava_id" (change)="mjestaPoDrzavi()">
                <option *ngFor="let drzava of drzave" [ngValue]="drzava.id">{{drzava.drzava}}</option>
            </select>
        </div>

        <div class="col-md-2">
            <button (click)="servis.goToLink('/add/drzava')">Nova država</button>
        </div>
        <div class="col-md-2">
            <button (click)="listaDrzava()">Osvježi listu</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-2">
            <select [(ngModel)]="editMjesto_id">
                <option *ngFor="let mjesto of mjesta"
                        [ngValue]="mjesto.id">{{mjesto.naziv}}</option>
            </select>
        </div>
        <div class="col-md-2">
            <button (click)="servis.goToLink('/add/mjesto')">Novo mjesto</button>
        </div>
        <div class="col-md-2">
            <button (click)="listaMjesta()">Osvježi listu</button>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4 offset-md-2">
            <input type="text" class="" placeholder="Ulica i kućni broj" [(ngModel)]="editNaziv">
        </div>
    </div>



    <div class="row">
        <div class="col-md-4"></div>
        <div *ngIf="_editing" class="col-md-2">
            <button (click)="saveChange()">Spremi izmjene</button>
        </div>
        <div *ngIf="_editing" class="col-md-2">
            <button (click)="saveAsNew()">Spremi kao novi</button>
        </div>
        <div *ngIf="!_editing" class="col-md-2">
            <button (click)="saveAsNew()">Spremi</button>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

