<div class="row">
    <div class="col-md-6">
        <button (click)="servis.goToLink('/add/plovilo')" class="gumb">Dodaj novo plovilo</button>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th (click)="sortiranje('id')">ID{{smjer('id')}}</th>
        <th (click)="sortiranje('naziv')">Naziv{{smjer('naziv')}}</th>
        <th (click)="sortiranje('vlasnik')">Vlasnik{{smjer('vlasnik')}}</th>
        <th (click)="sortiranje('drzava')">Država registracije{{smjer('drzava')}}</th>
    </tr>
    <tr *ngFor="let data of plovila | sorter : stupac : obrnuto" [routerLink]="['/plovilo',data.id]">

        <td>{{data.id}}</td>
        <td>{{data.naziv}}</td>
        <td>{{data.vlasnik}}</td>
        <td>{{data.drzava}}</td>
    </tr>
</table>

