<div class="container emp-profile">



        <div class="row">
            <div class="col-md-6">
                <button class="profile-edit-btn" id="uredi" [routerLink]="[ '/edit/plovilo', plovilo.id ]" >Uredi</button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tab-content profile-tab" id="myTabContent">

                    <div aria-labelledby="plovilo-show" class="tab-pane fade show active" id="home" role="tabpanel">
                        <div class="row">
                            <div class="col-md-6">
                                <label>Naziv broda</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{plovilo.ime}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Ime vlasnika</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{plovilo.vlasnik}}</p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <label>Država registracije</label>
                            </div>
                            <div class="col-md-6">
                                <p>{{plovilo.drzava}}</p>
                            </div>
                        </div>
                    </div>





                </div>
            </div>

        </div>

</div>
