<header-comp></header-comp>


<div class="row">
    <div class="col-md-4 offset-md-2">
        <select [(ngModel)]="delPlovilo_id" >
            <option value="0" disabled>Odaberi plovilo za brisanje</option>
            <option *ngFor="let plovilo of ps.plovila"
                    [ngValue]="plovilo.id">{{plovilo.naziv}}  - {{plovilo.vlasnik}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <button (click)="delPlovilo()" class="gumb">Obriši</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4 offset-md-2">
        <select [(ngModel)]="delVlasnik_id" >
            <option value="0" disabled>Odaberi mušteriju za brisanje</option>
            <option *ngFor="let vlasnik of ps.vlasnici"
                    [ngValue]="vlasnik.id">{{vlasnik.ime}} {{vlasnik.prezime}}  - {{vlasnik.oib}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <button (click)="delVlasnik()" class="gumb">Obriši</button>
    </div>
</div>

<div class="row">
    <div class="col-md-4 offset-md-2">
        <select [(ngModel)]="delDrzava_id" >
            <option value="0" disabled>Odaberi državu za brisanje</option>
            <option *ngFor="let drzava of ps.drzave"
                    [ngValue]="drzava.id">{{drzava.id}} - {{drzava.drzava}}</option>
        </select>
    </div>
    <div class="col-md-2">
        <button (click)="delDrzava()" class="gumb">Obriši</button>
    </div>
</div>
