<div class="container-fluid">
    <div style="min-height: 200px;"></div>
    <form (submit)="log()" [formGroup]="login">
        <div class="row">
            <div class="col-md-3 offset-md-4">
                <fieldset>
                    <input formControlName="id" placeholder="Unesi ID" type="text">
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3 offset-md-4">
                <fieldset>
                    <input formControlName="pass" placeholder="Unesi lozinku" type="password">
                </fieldset>
            </div>
        </div>

        <div class="row">
            <div class="col-md-1 offset-md-4">
                <button [disabled]="login.invalid" class="gumb" type="submit">Prijava</button>
            </div>
        </div>

        <div class="row">
            <div *ngIf="error" class="col-md-5 offset-md-4">
                {{error}}
            </div>
        </div>
    </form>
</div>
