<div class="row">
    <div class="col-md-4 offset-md-2">
        <h2 *ngIf="!_editing">Dodaj državu</h2>
        <h2 *ngIf="_editing">Uredi državu</h2>
    </div>
</div>


<div>
    <div class="row">
        <div class="col-md-4 offset-md-2">
            <input type="text" class="" placeholder="Naziv broda" [(ngModel)]="editNaziv">
        </div>
    </div>


    <div class="row">
        <div *ngIf="_editing" class="col-md-2 offset-md-4">
            <button class="gumb" (click)="save()">Spremi izmjene</button>
        </div>
        <div *ngIf="!_editing" class="col-md-2 offset-md-4">
            <button class="gumb" (click)="send()">Spremi</button>
        </div>
    </div>
</div>

