<div id="z4">
    <input [(ngModel)]="filt" placeholder="pretraga po semestru" type="text">
    <table class="table table-striped">
        <tr id="prvired">
            <td (click)="sortiranje('ime')">Ime</td>
            <td (click)="sortiranje('prosjek')">Prosjek</td>
            <td (click)="sortiranje('ects')">Semestar</td>
        </tr>
        <tr *ngFor="let student of studenti | filter : filt | sorter : stupac : obrnuto">
            <td><a [routerLink]="['/z4',student.jmbag]">{{student.ime}}</a></td>
            <td>{{student.prosjek}}</td>
            <td>{{student.semestar}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;-ects: {{student.ects}}</td>
        </tr>
    </table>
</div>
