@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Raleway:wght@200&display=swap?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
  font-size: 145%;
  border: 1px solid rgba(255,0,0,4%);
  width: 80vw;
  min-height: 100vh;
  margin-left: 10vw;
}

header h1 {
  font-family: 'Libre Baskerville', serif;
  font-size: 50px;
  color: #013b4f;
}

header h3 {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 2px;
  margin-top: -18px;
  margin-bottom: 30px;
  color: rgba(70,70,70,10%);
}

h1, h3 {
  text-align: center;
}


nav {
  width: 100%;
  color: #103747;
  display: flex;
  justify-content: center;
}

nav ul {
}

nav li {
  float: left;
}

nav a {
  color: inherit;
  text-decoration: none;
  font-family: 'Krona One', sans-serif;
  margin: 0;
  text-align: center;
  padding: 10px;
}


.article33 {
  box-sizing: border-box;
  width: 32%;
  margin-bottom: 17px;
  display: inline-block;
  font-family: 'Merriweather', serif;
  transition: .3s .3s;
  padding: 5px;
}








section h2 {
  font-family: 'Krona One', sans-serif;
}

section h2::before {
  content: "▪ ";
  color: black;
}


li {
  display: inline-block;
}

hr {
  margin-top: 12px;
}

#wrap-clanci-1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#wrap-clanci-2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}



.article33 img {
  width: 100%;
  max-height: 180px;
  object-fit: cover;
}

article h4 {
  text-align: left;
  min-height: 4em;
}


.wrap-kategorije {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.article50 {
  box-sizing: border-box;
  width: 40%;
  margin: 0 auto 17px;
  display: inline-block;
  font-family: 'Merriweather', serif;
  transition: .3s .3s;
  padding: 5px;
}

.article50 img {
  width: 98%;
  max-height: 210px;
  object-fit: cover;
}

.clanci img {
  width: 400px;
  height: 300px;
  margin: auto;
}

.clancibody h2 {
  font-family: 'Libre Baskerville', serif;
  font-size: 20px;
  color: #013b4f;
}

.clancibody p {
  font-family: 'Merriweather', serif;
}

.admin {

}

.admin .log {
  width: 250px;
  height: 50px;
  font-family: 'Krona One', sans-serif;
  letter-spacing: 1px;
  font-size: 13px;
  font-weight: bold;
  border: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #013b4f;
  background-image: linear-gradient(rgba(130, 130, 130, 0.19),rgba(130, 130, 130, 0.02));
}

.welcome {
  font-family: 'Krona One', sans-serif;
  letter-spacing: 1.5px;
  font-size: 16px;
  color: #013b4f;
  font-weight: bold;
}

.admin input[type=text] {
  width: 200px;
  height: 30px;
  font-family: 'Krona One', sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
  border: none;
  border-bottom: 1px solid #013b4f;
  margin-bottom: 5px;
}

.admin input[type=password] {
  width: 200px;
  height: 30px;
  font-family: 'Krona One', sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
  border: none;
  border-bottom: 1px solid #013b4f;
  margin-bottom: 5px;
}

.admin input[type=submit] {
  width: 100px;
  height: 30px;
  font-family: 'Krona One', sans-serif;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  border: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #013b4f;
  background-image: linear-gradient(rgba(130, 130, 130, 0.19),rgba(130, 130, 130, 0.02));
}

.admin button[type=submit] {
  width: 100px;
  height: 30px;
  font-family: 'Krona One', sans-serif;
  letter-spacing: 1px;
  font-size: 10px;
  font-weight: bold;
  border: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #013b4f;
  background-image: linear-gradient(rgba(130, 130, 130, 0.19),rgba(130, 130, 130, 0.02));
}

.admin textarea {
  font-family: 'Krona One', sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
  border: none;
  margin-bottom: 5px;
  border-bottom: 1px solid #013b4f;
}

.admin label {
  font-family: 'Krona One', sans-serif;
  letter-spacing: 1px;
  font-size: 11px;
}

.promjenanaslov {
  font-family: 'Raleway', sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
}

.footer {
  background-color: #103747;
  color: white;
  text-align: center;
  min-width: 800px;
  width: 65vw;
  margin: auto 17.5vw;
  padding-top: 20px;
}

.footer hr {
  width: 80%;
  border: 2px solid;
  border-radius: 1px;
}

.footer h5 {
  font-family: 'Merriweather', serif;
  letter-spacing: 1px;
  font-weight: lighter;
  font-size: 17px;
}

.footer h6 {
  font-family: 'Merriweather', serif;
  font-size: 15px;
  letter-spacing: 1px;
  padding-bottom: 100px;

}

.footer a {
  text-decoration: none;
  color: inherit;
}


#tekst {
  font-size: 18px;
}

#clanak_kratki {
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
}
