@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&family=Raleway:wght@200&display=swap?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');



body {
    font-size: 145%;
    border: 1px solid rgba(255, 0, 0, 3%);
    width: 90vw;
    min-height: 100vh;
    margin-left: 5vw;
    margin-top: 5vh;
}


section h2 {
    font-family: 'Krona One', sans-serif;
}

section h2::before {
    content: "▪ ";
    color: black;
}


li {
    display: inline-block;
}

hr {
    margin-top: 12px;
}

/*#wrap-clanci-1 {*/
/*    display: flex;*/
/*    flex-wrap: wrap;*/
/*    justify-content: space-between;*/
/*}*/


.welcome {
    font-family: 'Krona One', sans-serif;
    letter-spacing: 1.5px;
    font-size: 16px;
    color: #013b4f;
    font-weight: bold;
}


.footer a {
    text-decoration: none;
    color: inherit;
}


/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.gumb {
    border: 1px solid #2b3739;
    border-radius: 1.5rem;
    width: 100%;
    padding: 2%;
    font-weight: 600;
    color: #2b3739;
    cursor: pointer;
    min-height: 70%;
}

.noselect {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

select {
    min-width: 70%;
}

input {
    min-width: 70%;
}
