<header-comp></header-comp>
<div class="row">
    <div class="col-md-3 my-md-1">
        <button (click)="goto.Back()" class="gumb">Natrag</button>
    </div>
</div>
<div class="row">
    <div class="col-md-3 my-md-1">
        <button (click)="goto.Link('/add/plovilo')" class="gumb">Dodaj novo plovilo</button>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <td><input [(ngModel)]="f[0]" type="text"></td>
        <td><input [(ngModel)]="f[1]" type="text"></td>
        <td><input [(ngModel)]="f[2]" type="text"></td>
        <td><input [(ngModel)]="f[3]" type="text"></td>
    </tr>
    <tr>
        <th (click)="sortiranje('id')" class="noselect">ID{{smjer('id')}}</th>
        <th (click)="sortiranje('naziv')" class="noselect">Naziv{{smjer('naziv')}}</th>
        <th (click)="sortiranje('vlasnik')" class="noselect">Vlasnik{{smjer('vlasnik')}}</th>
        <th (click)="sortiranje('drzava')" class="noselect">Država registracije{{smjer('drzava')}}</th>
    </tr>
    <tr *ngFor="let data of plovila | sorter : stupac : obrnuto | filter : f" [routerLink]="['/plovilo',data.id]"
        class="noselect">

        <td>{{data.id}}</td>
        <td>{{data.naziv}}</td>
        <td>{{data.vlasnik}}</td>
        <td>{{data.drzava}}</td>
    </tr>
</table>

